*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: inherit;}
a{text-decoration: none;}
a,
a:hover,
a:focus,
input:focus{
    outline: none;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}
li{
    list-style-type: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.8rem;
    height: 100vh;
    background-color: var(--bg-color);
    -webkit-transition: all 0.5 linear;
    -moz-transition: all 0.5 linear;
    -ms-transition: all 0.5 linear;
    -o-transition: all 0.5 linear;
    transition: all 0.5 linear;
}
.container-fluid{
    background-image: var( --bg-image);
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1.5rem;
}
.container{
    margin-top: 10rem;
    width: 540px;
}
h1{
    font-size: 3.2rem;
}
.circle{
    border: 0.1rem solid var(--hr-color);
    border-radius: 5rem;
    -webkit-border-radius:5rem;
    -moz-border-radius:5rem;
    -ms-border-radius:5rem;
    -o-border-radius:5rem;
    height: 2rem;
    margin-right: 1.5rem;
    width: 2rem;
    cursor: pointer;
}
// Media query for font-size
@media screen and (max-width: 768px){
    html{
        font-size: 52.5%;
    }
}