.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &_logo > a{
       color: #ffffff;
       font-size: 3.2rem;
       font-weight: 700;
       text-transform: uppercase;
       letter-spacing: 1rem;
    }
    &_toggle-btn > img{
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }
    &_toggle-btn > img:hover{
        cursor: pointer;
    }
}