.input-txt{
    align-items: center;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    display: flex;
    padding: 15px;
    margin-bottom: 3rem;
}
input{
    border: none;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--container-color);
    color: var(--txt-color);
    width: 100%;
    display: inline-block;
}