.todo-container{
    background-color: var(--container-color);
    border-radius: .5rem;
    color: var(--txt-color);
    box-shadow: var(--box-shadow);
    &_list > li{
        align-items: center;
        display: flex;
        padding: 15px;
        border-bottom: 1px solid var(--hr-color);
    }
    &_list > li > p{
        cursor: pointer;
    }
    &_list > li > img{
        margin-left: auto;
    }
    .circle > img{
        display: none;
    }
    .circle.checked{
        background: linear-gradient(45deg, blue , pink);
    }
    .circle.checked > img{
        padding: .4rem;
        display: inline-block;
    }
    .circle.checked ~ .completed{
        text-decoration: line-through;
    }
    .delete:hover{
        cursor: pointer;
    }
}