.todo-footer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--footer-txt-color);
    .status > ul{
        display: flex;
    }
    .status > ul > li:nth-child(2){
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .clear-btn, .all-btn, .active-btn, .completed-btn{
        font-size: 1.3rem;
        font-family: inherit;
        border: none;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
    }
    .clear-btn:focus, .all-btn:focus, .active-btn:focus, .completed-btn:focus{
        outline: none;
    }
    .all-btn.active, .active-btn.active, .completed-btn.active{
        color: #6858f8;
    }
}
@media screen and (max-width: 768px){
    .todo-footer{
        position: relative;
    }
    .status{
        position: absolute;
        background-color: var(--container-color);
        padding: 1.5rem;
        top: 6rem;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .status > ul{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .status > ul > li:nth-child(2){
        margin-left: 0;
        margin-right: 0;
    }
}