:root{
     // Light theme
     --bg-color: #fafafa;
     --container-color: #ffffff;
     --txt-hover: #e4e5f1;
     --hr-color: #d2d3db;
     --footer-txt-color: #9394a5;
     --txt-color: #484b6a;
     --bg-image: url("/images/bg-desktop-light.jpg");  
     --box-shadow:  0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
[data-theme="dark"]{
      // Dark theme
      --bg-color: #161722;
      --container-color: #25273c;
      --txt-color: #cacde8;
      --txt-hover: #e4e5f1;
    //   --hr-color: #777a92;
      --footer-txt-color: #4d5066;
      --hr-color: #393a4c;
      --bg-image: url("/images/bg-desktop-dark.jpg");
      --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}