// Font Family
@font-face{
    font-family: 'Josefin Sans';
    src: url("/fonts/JosefinSans-Bold.ttf")
}
@font-face{
    font-family: 'Josefin Sans';
    src: url("/fonts/JosefinSans-Regular.ttf")
}
@import "variables";
@import "global";
@import "header";
@import "input-txt";
@import "todo-container";
@import "todo-footer";
